@import url('https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/variable/woff2/SUIT-Variable.css');
* {
	font-family: 'SUIT Variable', sans-serif;
	margin: 0;
}

html,
body,
main {
	min-height: 100vh;
	width: 100vw;
}

body {
	background: var(--input-background);
	color: var(--text);
}
